.fadeOut{
    opacity:0;
    width:50%;
    height:0%;
    transition: width 0.3s 0.3s, height 0.3s 0.3s, opacity 0.3s 0.3s;

}
.fadeIn{
    opacity:1;
    width:100%;
    height:100%;
    transition: width 0.3s 0.3s, height 0.3s 0.3s, opacity 0.3s 0.3s;
}